{{page-title "Tasks"}}




<div class="container">
    <Topic @title="My Tasks" @topic={{@model.tasks}} />
    {{!-- <h1 class="title">My Bulma Styled Ember App</h1>
    <button class="button is-primary" type="button">Primary Button</button> --}}
</div>

{{outlet}}